body {
    margin: 0;
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif; */
    line-height: 1.6;
}
.nav-item-size {
    font-size: 20px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}


h1,h2,h3,h4 {
    margin: 0;
}

*,
*::after,
*::before
 {
    box-sizing: border-box;
}

/* ==================== INTRO =========================== */

.intro {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    margin-left: 120px;
}
.intro-inner {
    display: flex;
    flex-wrap: wrap;
}

.intro-item {
    width: 45%;
}

.intro-text {
    margin-right: 40px;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    font-size: 36px;
    text-align: center;
}
.form_text {
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}

.intro-form {
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    padding-bottom: 43px;
    text-align: center;
}

.form-input {
    margin-top: 10px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    padding-left: 5px;
    transition: .4s linear;
}
.form-input:focus {
    outline: 0;
    outline-offset: 0;
    border: 2px solid #57B845; 
}
.form-btn {
    margin-left: 220px;
    border-style: unset;
    font-weight: 700;
    color: white;
    background: black;
    padding: 10 8;
    border-radius: 30px;
    margin-top: 15px;
    font-size: 16px;
    transition: .4s linear;
}
.form-btn:hover  {
    background: #57B845;
    
}

.cmp-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}
.company {
    margin-top: 20px;
}
.cmp-items {
    margin-top: -20px;
    display: flex;
    flex-wrap: wrap;
}
.cmp-itm {

    margin-left: 130px;
}

.footer {
    background: rgb(46, 46, 46);
    color: rgb(211, 211, 211);
    font-family: 'Roboto', sans-serif;
    position:absolute; 
	bottom:0;
}
.footer-text {
text-align: right;
padding-right: 20px;
}

.reg {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.reg-form {
    padding-bottom: 43px;
    text-align: center;
    border: black 2px solid;
}



.lk-content {
    display: inline-block;
    margin-left: 400px;
    text-align: center;
}
.lk-nav {
    display: block;
    text-align: center;
    margin-top: 50px;
    display: inline-block;
    width: 20%;
    background: rgb(240, 240, 240);
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    position: fixed;
}
.lk-link {
    color: black;
    text-decoration: none;
    text-align: center;

}
.lk-link:hover {
    font-size: 25px;
    font-weight: bold;
    transition: .1s linear;
    color: rgb(107, 155, 67);
}
.item-header {
    font-size: 30px;
    font-weight: bold;
}
.pd {
    display: inline-block;
    margin-top: 40px;
    width: 30.333%;
}

.d-header {
    font-size:15px;
    text-align: left;
}
.d-text {
    text-align: center;
    font-size: 20px;
    border: black 2px solid;
    border-radius: 10px;
    padding-right: 200px;
    padding-left: 10px;
}

.hide {
    display: none;
}

.lk-find {
    font-size: 20px;
    border-radius: 10px;
    padding: 6 0 6 10;
    text-align: left;
}
.lk-find:focus {
    outline: 0;
    outline-offset: 0;
}
.lk-btn {
    border-style: unset;
    font-weight: 700;
    color: white;
    background: black;
    padding: 10 20;
    border-radius: 30px;
    margin-top: 15px;
    font-size: 20px;
    transition: .4s linear;
}
.lk-form {
    margin-top: 40px;
}
.lk-btn:hover  {
    background: #57B845;
    
}
.item-info {
    margin-top: 20px;
}
.item-title {
    
    font-size: 30;
}
.item-img {
   
    margin-top: 10px;
    border-radius: 10px;
    border: 3px solid rgb(0, 0, 0); /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
}
.item-price {
    font-size: 35px;
    margin-top: 20px;
}
.item-btn {
    text-decoration: none;
    font-size: 25px;
    border: black 2px solid;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    color: black;
    padding: 5 5 5 5;
    transition: .4s linear;
}
.item-btn:hover {
    background: rgb(123, 217, 121);
    color: black ;
}
.lk-edit {
    text-decoration: none;
    font-size: 18px;
    color: rgb(121, 121, 121);
}

.lk-edit:hover {
    color: brown;
}

.item {
    margin-left: 200px;
}
.lk-item-title {
    font-size: 25px;
    font-weight: 500;
}
.lk-item-img {
    border: rgb(0, 0, 0) 2px solid;
    border-radius: 10px;
    box-shadow: 0 0 10px #666; /* Параметры тени */
}
.lk-item-price {
    font-size: 20px;
}
.lk-item-link {
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.lk-item-link:hover {
    color: rgb(100, 153, 47);
}
.lk-item-unsub {
    margin-top: 10px;
    text-decoration: none;
    color: black;
    border: black 2px solid;
    font-size: 18px;
    border-radius: 6px;
    padding: 4 10;

}
.lk-item-unsub:hover {
    background: rgb(214, 64, 64);
    color: black;
}