body {
    margin: 0;
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif; */
    line-height: 1.6;
}
.nav-item-size {
    font-size: 20px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}


h1,h2,h3,h4 {
    margin: 0;
}

*,
*::after,
*::before
 {
    box-sizing: border-box;
}

/* ==================== INTRO =========================== */

.intro {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    margin-left: 120px;
}
.intro-inner {
    display: flex;
    flex-wrap: wrap;
}

.intro-item {
    width: 45%;
}

.intro-text {
    margin-right: 40px;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    font-size: 36px;
    text-align: center;
}
.form_text {
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}

.intro-form {
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    padding-bottom: 43px;
    text-align: center;
}

.form-input {
    margin-top: 10px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    padding-left: 5px;
    transition: .4s linear;
}
.form-input:focus {
    outline: 0;
    outline-offset: 0;
    border: 2px solid #57B845; 
}
.form-btn {
    margin-left: 220px;
    border-style: unset;
    font-weight: 700;
    color: white;
    background: black;
    padding: 10 8;
    border-radius: 30px;
    margin-top: 15px;
    font-size: 16px;
    transition: .4s linear;
}
.form-btn:hover  {
    background: #57B845;
    
}

.cmp-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}
.company {
    margin-top: 20px;
}
.cmp-items {
    margin-top: -20px;
    display: flex;
    flex-wrap: wrap;
}
.cmp-itm {
    width: 30%;
    margin-left: 40px;
}

.footer {
    background: rgb(46, 46, 46);
    color: rgb(211, 211, 211);
    font-family: 'Roboto', sans-serif;
    
}
.footer-text {
text-align: right;
padding-right: 20px;
}














